* {
    margin: 0;
    padding: 0;
}
/* Common Css */
.container {
    width: 90%;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    line-height: normal;
}

/* Common Css End*/

/* Header Section css */
.nav__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    transition: .5s ease-out;
    z-index: 12;
}
.black{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    box-shadow: 1px 2px 10px rgb(0 0 0 / 10%);
    width: 100%;
    height: 8rem;
    transition: .5s ease-in;
}
.nav__logo {
    float: left;
    width: 17%;
}
.nav__logo img {
    width: 100%;
    padding: 2.5rem 0;
}
.nav__menu {
    text-transform: uppercase;
    width: 50%;
    float: right;
    padding: 1.5rem 0;
}
nav ul {
    list-style: none;
    float: right;
}
nav ul li {
    float: left;
    display: inline-block;
}
nav ul li a {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 50px;
    position: relative;
    text-shadow: none;
    font-family: 'Bebas Neue',sans-serif;
    color: #3d2514;
    text-decoration: none;
    display: block;
    transition: all .3s ease-in;
}
nav ul li:last-child a {
    padding-right: 0;
}
nav ul li a:hover {
    font-weight: 500;
    margin-top: -5px;
    transition: all .2s ease-in-out;
}
.express__delivery {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    color: #3d2514;
    align-items: center;
    justify-content: flex-end; 
}
.express__delivery a{
    text-decoration: none;
    color: #3d2514;
    font-weight: 700;
}
.call__delivery-icon{
    margin-right: 5%;
    animation: css-shake 1.9s infinite;
}
@keyframes css-shake {
    0%,
    100% {
        transform: translate(0px);
    }
    10%,
    30%,
    50%,
    70%,80% {
        transform: translate(20px);
    }
}

/* Header Section Css End*/

/* Banner Section Css*/

.banner__bg{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: cover;
    height: 100vh;
}
.banner__area-wrapper{
    display: flex;
    padding-top: 8rem;
}
.banner__image {
    float: right;
    width: 50%;
    margin: auto;
} 
.banner__text {
    float: left;
    width: 50%;
    margin: auto;
}
.banner__subtitle{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 20px;
    padding: 12px 18px 12px 18px;
    border: 2px dashed #3d2514;
    display: inline-block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 30px;
    font-weight: 500;
}
.banner__title{
    font-size: 94px;
    font-weight: 500;
    font-family: 'Alfa Slab One', sans-serif;
    display: flex;
    color: #3d2514;
    flex-direction: column;
    line-height: 80px;
    text-shadow: 4px 5px #fee7ba;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.banner__title span {
    font-size: 46px;
}

/* Banner Section Css end */

/* Feature Burger Css */

.feature__burger-wrapper{
    display: flex;
    padding: 40px 0;
}
.single__image{
    float: left;
    padding: 0 20px;
} 
.double__image{
    float: right;
    padding: 0 20px;
}
.banner-grid-text {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    margin-top: 30px;
    margin-left: 25px;
    z-index: 1;
}
.banner-grid-title {
    font-size: 42px;
    font-weight: 500;
}
.banner-grid-subject {
    font-size: 25px;
    margin-bottom: 8px;
    font-weight: 500;
}
.banner-grid-big,
.banner-grid-small {
    display: block;
    position: relative;
    margin-top: 35px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
}
.banner-grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,
}
.banner-grid-image:hover {
    transform: scale(1.1);
}

/* Feature Burger Css End */

/* Enjoy Section Css */

.enjoy__wrapper{
    text-align: center;
    padding: 5rem 0;
}
.enjoy__label{
    font-size: 25px;
    margin-bottom: 28px;
    font-weight: 500;
}
.label {
    padding: 14px 22px 8px;
    background-color: #ffc045;
    display: inline-block;
    color: #3d2514;
}
.enjoy__title {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Alfa Slab One', sans-serif;
    text-transform: uppercase;
    color: #3d2514;
    margin-bottom: 10px;
}
.enjoy__subtitle {
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    font-weight: 400;
    color: #3d2514;
}

/* Enjoy Section Css End */

/* Burger Section Css */

.three__burger-wrapper{
    display: flex;
    padding-bottom: 5rem;
}
.single__burger{
    width: 33%;
    margin: 0 .5rem;
    text-align: center;
}
.single__burger-img{
    height: 17rem;
}
.menu-slider-item-title {
    font-size: 38px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #3d2514;
}
.menu-slider-item-subtitle {
    font-size: 17px;
    line-height: 22px;
    padding: 0 20px;
    margin-bottom: 36px;
    color: #3d2514;
    font-family: 'Montserrat', sans-serif;
}
.button {
    background-color: #bf2222;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 16px 40px;
    line-height: normal;
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .5s ease-out;
    text-decoration: none;
}
.button:hover {
    color: #fff;
    background-color: #ffc045;
}

/* Burger Section Css End*/

/* Event Section Css */

.event__wrapper {
    display: flex;
    padding: 3rem 0;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 18px 24px 43px 0 rgb(0 0 0 / 17%);
}
.event__text {
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 5rem;
    padding-right: 3rem;
}
.event__image {
    float: right;
    width: 50%;
    margin: auto;
    padding-right: 1.5rem;
}
.event__label {
    font-size: 29px;
    margin-bottom: -5px;
    letter-spacing: 2px;
    margin: 0 0 20px;
    font-weight: 500;
    color: #3d2514;
    font-family: 'Bebas Neue',sans-serif;
}
.event__title {
    font-size: 42px;
    margin-bottom: 20px;
    color: #3d2514;
    font-weight: 500;
    font-family: 'Alfa Slab One', sans-serif;
    text-transform: uppercase;
}
.event__subtitle {
    font-size: 21px;
    line-height: 33px;
    padding-left: 0;
    color: #3d3d3d;
    padding-right: 50px;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.tools {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.circle {
    padding: 0 4px;
}
.box {
    display: inline-block;
    align-items: center;
    width: 12px;
    height: 12px;
    padding: 1px;
    border-radius: 50%;
    cursor: pointer;
}
.red {
    background-color: #ffc045;
}
.gray {
    background-color: #dcdcdc;
}

/* Event Section Css End */

/* Contact Form Css */

.contact__wrapper{
     display: flex;
     padding-top: 5rem;
}
.left {
    width: 15%;
    height: 50rem;
} 
.center {
    width: 70%;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;

} 
.contact__label {
    letter-spacing: 2px;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 500;
    color: #3d2514;
}
.contact__title {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Alfa Slab One', sans-serif;
    text-transform: uppercase;
    color: #3d2514;
    margin-bottom: 10px;
}
.reservation-form {
    margin-top: 60px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form__wrap {
    width: 50%;
}
.reservation-form .form-group {
    margin: .8rem 1.5rem;
}
.reservation-form .form-control {
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3d3d3d;
    border-color: #bebebe;
    height: 65px;
    font-size: 21px;
    font-family: 'Bebas Neue', sans-serif;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.reservation .button {
    margin-top: 15px;
    height: 65px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
}
input::placeholder{
    color: #3d2514;
}
.right_burger-food {
    width: 15%;
    overflow: hidden;
    align-items: flex-end;
    padding-top: 25rem;
}
.burger {
    margin-right: 0;
    margin-left: auto;
    width: 70%;
    display: inline-block;
    margin-bottom: 25px;
}
.bottle{
    margin-left: 5rem;
    width: 40%;
    margin-top: 1rem;
    display: inline-block;
    margin-bottom: 25px;
}
.btn{
    margin: .8rem 1.5rem;
    width: 95%;
    height: 75%;
    border-radius: 5px;
}
input{
    outline: none;
}

/* Contact Form Css End*/

/* Footer Section Css */

footer{
    background: url(../img/footer-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 530px;
    margin-top: -7rem;
}
.footer__wrapper {
    display: flex;
}
.box__1 {
    width: 70%;
}
.box__1 img{
    padding-bottom: 2.5rem;
    margin-top: 5rem;
}
.icon1, .icon2{
    margin-bottom: 1rem;
}
.box__2 {
    width: 30%;
    margin: auto 0;
    padding-top: 5rem;
}
.location__img{
    padding-top: 1rem;
}
.location{
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 2.5rem;
}
.location:hover{
    text-decoration: underline;
}
.footer__subtitle {
    font-size: 17px;
    line-height: 33px;
    padding-left: 0;
    color: #fff;
    padding-right: 12rem;
    margin-bottom: 8.5rem;
    font-family: 'Montserrat', sans-serif;
}
.icon2{
    margin-bottom: 5rem;
}
.footer_copyright{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}
.footer__name{
    color: #fff;
    text-transform: uppercase;
}

/* Social Media Css */
.social__media{
    width: 15%;
    margin-top: 29.5rem;
}
.social__media ul{
    display: flex;
}
.social__media ul li{
    list-style: none;
    margin: 0 .3rem;
}
.social__media ul li .bx{
   font-size: 20px;
   line-height: 30px;
   transition: .5s;
   color: #000;
}
.social__media ul li a{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .5s;
}
.social__media ul li a:hover{
    background-color: #ffc045;
    color: #3d2514;
    transition: .5s ease-out;
}

/* Social Media Css End */

/* Footer Section Css End */



































